{% extends "layout.html.twig" %}

{% block title %}Signup{% endblock %}

{% block content %}
    <form method="post" action="{{ path('signup_create') }}">

        {% include "Sign/_form.html.twig" with {'legend':'Free 30 days trial'} %}

        <div class="actions">
            <button class="btn primary">Register</button>
        </div>
    </form>
{% endblock %}