<?php

// Debug mode
$app['debug'] = true;

// Some globals
$app['cache.dir'] = __DIR__.DIRECTORY_SEPARATOR.'..'.DIRECTORY_SEPARATOR.'cache';
$app['mailer.sender'] = array('sender@boomstone' => 'Boomstone');

/**
 * i18n
 *
 * Actually tested only with xliff
 * should support all format provided by symfony
 * @see
 */
$config['i18n'] = array(
    'locale'                    => 'fr',
    'locale_fallback'           => 'en',
    'translation.format'        => 'xliff',
    'translation.file_path'     => __DIR__.'/../src/Resources/locales/',
    'translation.class_path'    => __DIR__.'/../vendor/Symfony/'
);

/**
 * MongoDB
 *
 * Same as the native PHP driver configuration
 * (mongodb.options key is optionnal)
 * @see  php.net/MongoDB
 */
$config['mongodb'] = array(
    'mongodb.servers' => array('mongodb://localhost:27017'),
    'mongodb.options' =>  array(
        'db'        => 'boomstone')
);

/**
 * Boomgo
 *
 * Disclaimer: Boomgo implementation still a WIP.
 * @see
 */
$config['boomgo'] = array(
    'boomgo.mapper.cache'            => 'ArrayCache',
    'boomgo.repository.cache'        => 'ArrayCache',
    'boomgo.document.namespace'      => 'Document',
    'boomgo.repository.namespace'    => 'Repository',
    'boomgo.document.base_namespace' => array('default' => 'Boomstone\\Document'),
    'boomgo.mapper.namespace'        => 'Mapper'
);

/**
 * Session
 *
 * Warning: it use the version 2.1 of Symfony Session Component
 * @see
 */
$config['session'] = array(
    'session.storage.options' => array('auto_start' => true)
);

/**
 * Swiftmailer
 *
 * This example is pre-configured for gmail.
 * @see
 */
$config['swiftmailer'] = array(
    'swiftmailer.class_path'  => __DIR__.'/../vendor/swiftmailer/swiftmailer/lib/classes',
    'swiftmailer.options'     => array(
        'host'         => 'smtp.gmail.com',
        'port'         => 465,
        'username'     => 'your@email',
        'password'     => 'password',
        'encryption'   => 'ssl',
        'auth_mode'    => 'login')
 );

/**
 * Twig Service configuration
 * @see
 */
$config['twig'] = array(
    'twig.class_path' => __DIR__.'/../vendor/twig/twig/lib',
    'twig.path' => array(
        __DIR__.'/../src/Resources/views',
        __DIR__.'/../vendor/symfony/twig-bridge/Symfony/Bridge/Twig/Resources/views/Form'),
);

/**
 * Validator Service configuration
 */
$config['validator'] = array(
    'validator.mapping.metadata_factory_class' => '\\Symfony\\Component\\Validator\\Mapping\\ClassMetadataFactory',
    'validator.mapping.loader_class' => '\\Symfony\\Component\\Validator\\Mapping\\Loader\\YamlFilesLoader',
    'validator.mapping.cache_class' => null,
    'validator.mapping.cache_prefix' => null,
    'validator.mapping.path' => __DIR__.'/../src/Boomstone/Validation',
    'validator.services' => array('boomgo.validator.unique' => 'boomgo.validator.unique')
);