<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Boomstone - powered by Retentio{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ app.request.basePath }}/css/boomstone.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  </head>

  <body>
    {% block navigation %}
      {% include '_navigation.html.twig' %}
    {% endblock %}

    <div class="container-fluid">
      {% block flash %}
        {% include '_flash.html.twig' %}
      {% endblock %}

      {% block content %}

      {% endblock %}

      <hr>

      {% block footer %}
        {% include '_footer.html.twig' %}
      {% endblock %}
    </div><!--/.fluid-container-->

    {% block javascript %}
      {% include '_javascript.html.twig' %}
    {% endblock %}
  </body>
</html>
